@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
:root {
  --colorText: #d2dade;
  --color: #333e44;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  margin: 0;
  padding: 0;
  color: #4a4a4a;
  box-sizing: border-box;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  /* position: relative; */
}
.layout-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.name-product-cart {
  font-size: 13px;
  font-weight: 500;
  display: block;
  padding-right: 25px;
}
.price-product-cart {
  font-weight: 500;
  display: block;
  font-size: 14px;
  color: #e95221;
  line-height: 28px;
}
.size-product-cart {
  display: block;
  font-size: 12px;
  color: #9e9e9e;
}
/* --------------------------------- */
.container-product-left {
  border-radius: 10px;
  border: 1px solid #eee;
  padding: 10px 20px 10px;
  height: 100%;
  display: inline-block;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
  margin: 0 10px;
}
.container-product-left-content {
  width: 100%;
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px dashed #f2f2f2;
  margin-bottom: 10px;
}
.title-product-left {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}
.content-product-left {
  margin-bottom: 10px;
  position: relative;
}
.title-page-product {
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  background: #f7f8f9;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}
.main-product-page-product {
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}
.button-size {
  height: 30px;
  width: 40px;
  font-size: 16px;
  margin: 10px;
  color: var(--color);
  border: 1px solid #ebebeb;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.button-size:hover {
  background-color: #e95221;
  border: 1px solid #e95221;
  font-weight: 700;
  box-shadow: 0 2px 3px 0 #e95221;
}
.button-size-disabled {
  height: 30px;
  width: 40px;
  font-size: 15px;
  margin: 10px;
  color: #cccecf;
  border: 1px solid #cccecf;
  border-radius: 5px;
  cursor: none;
  white-space: nowrap;
}
.button-quantity {
  border-radius: 50%;
  background: #e95221;
  border: none;
  color: #fff;
  width: 26px;
  height: 26px;
  font-size: 25px;
  margin: 0px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}
.input-quantity {
  height: auto;
  font-size: 14px;
  text-align: center;
  padding: 0px;
  width: 90px;
  min-height: 26px;
  border-radius: 5px;
  border: 1px solid #e95221;
  color: #e95221;
  margin: 0px 3px;
  outline: none;
}
.button-product {
  height: 40px;
  margin: 5px;
  font-size: 16px;
  color: #fff;
  padding: 0px 10px;
  border-radius: 4px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  text-transform: uppercase;
  line-height: 31px;
  margin-right: 10px;
  font-weight: 500;
}
.button-product:hover {
  background-color: #fff !important;
  border: 1px solid #e95221 !important;
  color: #e95221 !important;
}
/* product-detail */
.check-title {
  font-weight: bolder;
}
/* product-detail */

/* order-cart */
.title-cart {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  background: #f7f8f9;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}
.title-cart-child {
  /* width: 100% !important; */
  height: auto !important;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  padding: 0 0 5px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  color: #fff;
  background: #e95221;
  padding: 7px 10px;
  cursor: pointer;
}
.cart-product-body {
  border: solid 1px #ebebeb;
  border-radius: 0px 0px 10px 10px;
}
.cart-product {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ebebeb;
}
.cart-footer {
  margin-top: 20px;
  padding: 5px 10px 10px;
  border-top: solid 1px #ebebeb;
  font-size: 16px;
  font-weight: 700;
}
/* order-cart */

/* footer-component */
.footer {
  bottom: 0;
  background: #222222;
}
.title-footer {
  line-height: normal;
  letter-spacing: 0.5px;
  position: relative;
  font-size: 15px;
  margin: 0px 0 15px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
.des_foo {
  color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
}

.des_foo b {
  color: #e95211;
}
.des_foo p:hover {
  color: #e95211;
}
.des_foo em {
  font-style: italic;
}
.list-foo {
  color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
}
.list-foo b {
  font-weight: bolder;
}
.list-foo em {
  color: #e95211;
  font-weight: bolder;
}
/* footer-component */
/* --------------------------------- */

html {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.div_content_type_title {
  margin-bottom: 35px;
  height: 55px;
  justify-content: center;
  text-align: center;
  /* position: relative; */
  width: 100%;
}
.container {
  padding-right: 45px;
  padding-left: 45px;
  color: var(--color);
}
.container-title-page {
  background-color: #f5f5f5;
}
.hover-text {
  font-weight: 500;
  cursor: pointer;
  color: var(--color);
  /* color: var(--orange); */
}
.hover-text:hover {
  font-weight: 500;
  cursor: pointer;
  color: var(--orange);
}
.text:hover {
  cursor: pointer;
  color: var(--orange);
}
.label-text-input {
  color: var(--color);
  font-size: 14px;
  margin-bottom: 0.5rem;
}
.input {
  min-height: 18px;
  line-height: 1.5;
  padding: 10px 15px;
  font-size: 14px;
  color: var(--dark);
  margin-bottom: 15px;
  border: 1px solid #eaebf3;
  box-shadow: none;
  border-radius: 3px;
  outline: none;
}
.input-error {
  min-height: 18px;
  line-height: 1.5;
  padding: 10px 15px;
  font-size: 14px;
  color: red;
  margin-bottom: 15px;
  border: 1px solid red;
  box-shadow: none;
  border-radius: 3px;
  outline: none;
}
.content_grid {
  align-items: center;
  justify-content: center;
  display: grid;
}
.button-fix {
  cursor: pointer;
  background: #e95221;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  text-transform: uppercase;
  border: 1px solid #e95221;
  line-height: 42px;
  width: 100%;
  height: 45px;
}
.button-fix:hover {
  background-color: #fff;
  color: #e95221;
}
